#header {
    height: 75px !important;
    overflow: visible;
    z-index: 9999;
    width: 100%;
    position: absolute !important;
}

#header .row {
    padding: 0;
}

#header aside {
    text-align: right;
}

#header ul {
    text-align: center;
}

#header li {
    display: inline-block;
    list-style: none;
    margin: 0;
}
/* --------- 2.2 Logo ---------- */

#logo {
    float: left;
    height: 100px;
    line-height: 66px;
    margin-right: 15px;
}

#logo h1, #logo h2 {
    display: inline-block;
}

#banner #logo h1 {
    font-size: 28px;
    margin-right: 10px;
    font-weight: 900;
    padding: 0;
}

#logo h2 {
    font-size: 18px;
    padding: 0;
}

#logo img {
    max-height: 75px;
    vertical-align: middle;
    margin-right: 15px;
}

#navigation-logo {
    display: none;
}

.nav-solid #logo #banner-logo {
    display: none;
}

.nav-solid #logo #navigation-logo {
    display: inline-block;
}

.nav-solid {
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, .1);
}

