<div id="header" class="nav-collapse nav-solid">
    <div class="row clearfix">
        <div class="col-1">

            <!--Logo-->
            <div id="logo">
                
                <!--Logo that is shown on the banner-->
                <img src="../../assets/puzzle/logo-2.JPG" id="banner-logo" alt="Landing Page" />
                <!--End of Banner Logo-->

                <!--The Logo that is shown on the sticky Navigation Bar-->
                <img src="../../assets/puzzle/logo-2.JPG" id="navigation-logo" alt="Landing Page" />
                <!--End of Navigation Logo-->
            </div>
        </div>
    </div>
</div>